



.WolfsCo {
  text-align: center;
  font-family: Expletus Sans;
  line-height: 0em;
  font-size: 150%;  
  top: 150px;
  bottom: 200px;
  
}

.W1 {
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 150px;
 
}
.W2 {
  text-align:center;
  position: relative;
  top: 150px;
  font-size: 300%;
  color: rgba(132, 0, 255, 0.747);
  font-family: Francois One;
  font-size: 150px;

}
.W3 {
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 100px;
}
.W4 {
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 80px;
  
  padding-top: 2%;
}




img {
  width: 100%;
  float: center;
  margin: 0%;
 background-position: center;
height: 100%;
}
 